body#login { // TODO: Change filename to login
    @include flex(center, center);
    flex-direction: column;
    background-color: $bodyBg;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url("/resources/images/christian-haley-christian-haley-futureshantytown-a-2018.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 1;
}




.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $bodyBgTransparent;

    z-index: 60;

    @include flex(center, flex-start);
    flex-direction: column;

    padding-top: 20%;


    form {
        width: 400px;
        height: auto;

        @include flex(center, center);
        flex-direction: column;

        input {
            width: 70%;
            height: 50px;

            padding: 10px;
            margin-bottom: 10px;

            background: none;
            border: none;
            border-bottom: 1px solid $subtitleColor;

            font-family: Poppins;
            color: $subtitleColor;
        }


        input#form_username {
            opacity: 1;
            margin-top: 0;
            cursor: text;
            transition: $transitionSpeed;

            &.hidden {
                opacity: 0;
                margin-top: -60px;
                cursor: default;
            }
        }


        button {
            width: 70%;
            border-radius: $borderRadiusBig;
            height: 70px;

            margin: 40px 0 50px 0;

            border: none;
            background: none;
            border: 2px solid $borderColor;

            cursor: pointer;

            font-family: Poppins;
            color: $borderColor;
            font-size: 18px;

            transition: all .5s;

            &:hover {
                background-color: $borderColor;
                color: $titleColor;
            }
        }

        header {
            font-size: 26px;
        }
    }
}




#carousel_container {
    width: auto; 
    height: auto;
    @include flex(center, center);
    transition: all .5s;


    .form_avatar {
        width: 200px;
        height: 200px;
        margin: 0 20px 80px 20px;


        .thumb_small {
            position: relative;
        
            width: 100%;
            height: 100%;
        
            overflow: hidden;
            border-radius: $borderRadiusSmall;
            margin: 0;
        
            @include flex(center, center);
            
            transition: $transitionSpeed;
            box-shadow: $boxShadowBig;
        
            z-index: 90;
        
            cursor: default;


            span {
                display: none;
            }

            img {
                min-height: 100%;
                height: auto;
                width: 100%;
                z-index: 1;
            }


            .overlay {
                position: absolute;

                width: 100%;
                height: 100%;

                background-color: rgba(24, 27, 33, 0.8);

                @include flex(center, center);

                flex-direction: column;

                z-index: 2;

                .status {
                    font-family: Poppins;
                    font-size: 14px;
                    color: $subtitleColor;
                
                    transition: $transitionSpeed;
                }

                .username {
                    font-family: Poppins;
                    font-size: 24px;
                    color: $titleColor;
                }
            }
        }
    }


    .create_new {
        opacity: 0.6;
        transition: all .5s;

        .thumb {
            color: $subtitleColor;
            box-shadow: none !important;
        }

        svg {
            width: 35px;
            height: 35px;

            path {
                fill: $subtitleColor;
                transition: all .5s;
            }
        }
    }

    .current {
        width: 200px;
        height: 200px;
        opacity: 1;

        .thumb_small {
            transform: scale(1.2);
            box-shadow: $boxShadowBig;
        }

        .status {
            color: $borderColor !important;
        }

        // Error classes
        .required {
            border: 1px solid $errorColor !important;
        }

        .problem {
            color: $errorColor !important;
        }
    }
}




















@media screen and (max-width: 768px) {
    body {
        justify-content: flex-start;

        #container {
            position: relative;
            width: 100%;
        }
    }

    
}



@media screen and (min-width: 768px) {
    body {
        justify-content: flex-start;

        #container {
            position: relative;
            width: 768px;
        }
    }

    

}



@media screen and (min-width: 980px) {
    body {
        justify-content: center;

        #container {
            position: relative;
            width: 980px;
        }
    }
}



@media screen and (min-width: 1200px) {
    #container {
        position: absolute;
        width: 1200px;
    }
}