@font-face {
    font-family: Product Sans;
    src: url("/resources/fonts/Product\ Sans\ Regular.ttf");
}

@font-face {
    font-family: Product Sans Bold;
    src: url("/resources/fonts/Product\ Sans\ Bold.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/resources/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins Bold;
    src: url("/resources/fonts/Poppins-Bold.ttf");
}