@import "_variables";
@import "_nav";
@import "_reset";
@import "_fonts";


body {
    background-image: url("/resources/images/christian-haley-christian-haley-futureshantytown-a-2018.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}