@mixin flex($align, $justify, $direction: row) {
    display: flex;
    
    @if $direction == "column" {
        // They flip when using column so it
        // flips them back to make it easier.
        align-items: $justify;
        justify-content: $align;
    } @else {
        align-items: $align;
        justify-content: $justify;
    }
    
    flex-direction: $direction;
}