@font-face {
    font-family: Product Sans;
    src: url("../fonts/Product\ Sans\ Regular.ttf");
}

@font-face {
    font-family: Product Sans Bold;
    src: url("../fonts/Product\ Sans\ Bold.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins Bold;
    src: url("../fonts/Poppins-Bold.ttf");
}

:root {
    --body-background: #333641;
    --title-color: #d4d9ea;
    --border-color: #d4d9ea8f;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--body-background);
}


header {
    position: relative;

    font-family: Poppins Bold;
    font-size: 60px;

    color: var(--title-color);

    width: 400px;
    padding: 40px 0;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    position: absolute;
}





main {
    width: 700px;
    height: auto;
    min-height: 10px;

    margin: 20px 0 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

main .avatar {
    position: relative;

    height: auto;
    width: 150px;

    margin: 10px 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

main .avatar .thumb {
    position: relative;

    width: 150px;
    height: 150px;

    overflow: hidden;
    border-radius: 3px;

    margin: 10px;
    transition: all .5s;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all .2s;
    cursor: pointer;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

main .thumb img {
    width: auto;
    min-height: 100%;
    z-index: 1;
}

main .thumb .overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(24, 27, 33, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    z-index: 2;
}

main .thumb .overlay .status {
    font-family: Poppins;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.507);
}


main .thumb .overlay .username {
    font-family: Poppins;
    font-size: 24px;
    color: var(--title-color);
}


main .avatar:hover .thumb {
    transform: scale(1.1);
}


.current {
    border: 2px solid rgba(255, 255, 255, 0.507);
    transform: scale(1.1);
}


footer button {
    margin-top: 50px;

    width: 200px;
    height: 50px;

    border: none;
    border: 2px solid var(--title-color);
    border-radius: 5px;

    background: none;

    font-family: Poppins;
    font-size: 17px;
    color: var(--title-color);
}
