@font-face {
    font-family: Product Sans;
    src: url("../fonts/Product\ Sans\ Regular.ttf");
}

@font-face {
    font-family: Product Sans Bold;
    src: url("../fonts/Product\ Sans\ Bold.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins Bold;
    src: url("../fonts/Poppins-Bold.ttf");
}




:root {
    --body-background: #191f23;
    --title-color: #d0deeb;
    --border-color: rgba(78, 161, 255, 0.623);
    --subtitle-color: rgba(255, 255, 255, 0.507);
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--body-background);
}


header {
    position: relative;

    font-family: Poppins Bold;
    font-size: 60px;

    color: var(--title-color);

    width: 90%;
    padding: 40px 0;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    position: absolute;
}





main {
    width: 90%;
    height: auto;
    min-height: 10px;

    margin: 20px 0 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

main .avatar {
    position: relative;

    height: auto;
    width: 150px;

    margin: 10px 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

main .avatar .thumb {
    position: relative;

    width: 150px;
    height: 150px;

    overflow: hidden;
    border-radius: 3px;

    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all .2s;
    cursor: pointer;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

main .thumb img {
    width: auto;
    min-height: 100%;
    z-index: 1;
}

main .thumb .overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(24, 27, 33, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    z-index: 2;
}

main .thumb .overlay .status {
    font-family: Poppins;
    font-size: 14px;
    color: var(--subtitle-color);

    transition: all .5s;
}


main .thumb .overlay .username {
    font-family: Poppins;
    font-size: 24px;
    color: var(--title-color);
}


.current {
    border: 2px solid var(--border-color);
    transform: scale(1.1);

    /* rgba(255, 255, 255, 0.507) */
}

.current .status {
    color: var(--border-color) !important;
}


.create_new {
    opacity: 0.6;
    transition: all .5s;
}

.create_new .thumb {
    border: 2px solid rgba(255, 255, 255, 0.307);
    color: var(--subtitle-color);

}

.create_new svg path {
    fill: var(--subtitle-color);
    transition: all .5s;
}

.create_new svg {
    width: 35px;
    height: 35px;
}

.create_new:hover .thumb,
.create_new:hover .thumb path,
.create_new:hover .thumb .status {
    fill: var(--title-color) !important;
    color: var(--title-color) !important;
    border-color: var(--title-color) !important;
    opacity: 1;
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    background-color: var(--body-background);

    z-index: 60;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: none;
}


.modal form {
    width: 400px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal form input {
    width: 70%;
    height: 50px;

    padding: 10px;
    margin-bottom: 10px;

    background: none;
    border: none;
    border-bottom: 1px solid var(--subtitle-color);

    font-family: Poppins;
    color: var(--subtitle-color);
}

.modal form button {
    width: 70%;
    border-radius: 3px;
    height: 70px;

    margin: 40px 0 50px 0;

    border: none;
    background: none;
    border: 2px solid var(--border-color);

    cursor: pointer;

    font-family: Poppins;
    color: var(--border-color);
    font-size: 18px;

    transition: all .5s;
}

.modal form button:hover {
    background-color: var(--border-color);
    color: var(--title-color);
}

.modal .cancel {
    font-family: Poppins;
    font-size: 13px;
    color: var(--subtitle-color);

    cursor: pointer;
}

.modal form header {
    font-size: 26px;
}


.required {
    border: 1px solid #ff0932 !important;
}