:root {
    --body-background: #181b21;
    --body-background-transparent: rgba(24, 27, 33, 0.85);
    --title-color: #d0deeb;
    --border-color: rgba(78, 161, 255, 0.623);
    --subtitle-color: rgba(255, 255, 255, 0.507);

    --transition: all .2s;

    --border-radius: 5px;
    --border-radius-small: 4px;
    --border-radius-big: 40px;

    --box-shadow-big: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}