

$lightBg: #edf3f8;
$darkBg: #181b21;

$bodyBg: #fff;


$bodyBgTransparent: rgba(24, 27, 33, 0.85);

$titleColor: #d0deeb;
$subtitleColor: rgba(255, 255, 255, 0.507);

$errorColor: #ff004c;
$borderColor: rgba(78, 161, 255, 0.623);

$transitionSpeed: all .2s;

$borderRadius: 5px;
$borderRadiusSmall: 4px;
$borderRadiusBig: 40px;

$boxShadowBig: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$boxShadowSoft: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
