@import "imports";


app-root {
    display: block;
    height: 100%;

    margin: 0;
    padding: 0;
}


html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    @extend html;

    background-color: $bodyBg;

    font-family: Poppins;
}