body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

@font-face {
  font-family: Product Sans;
  src: url("/resources/fonts/Product Sans Regular.ttf");
}
@font-face {
  font-family: Product Sans Bold;
  src: url("/resources/fonts/Product Sans Bold.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("/resources/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins Bold;
  src: url("/resources/fonts/Poppins-Bold.ttf");
}
body#login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/resources/images/christian-haley-christian-haley-futureshantytown-a-2018.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 27, 33, 0.85);
  z-index: 60;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 20%;
}
.modal form {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal form input {
  width: 70%;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.507);
  font-family: Poppins;
  color: rgba(255, 255, 255, 0.507);
}
.modal form input#form_username {
  opacity: 1;
  margin-top: 0;
  cursor: text;
  transition: all 0.2s;
}
.modal form input#form_username.hidden {
  opacity: 0;
  margin-top: -60px;
  cursor: default;
}
.modal form button {
  width: 70%;
  border-radius: 40px;
  height: 70px;
  margin: 40px 0 50px 0;
  border: none;
  background: none;
  border: 2px solid rgba(78, 161, 255, 0.623);
  cursor: pointer;
  font-family: Poppins;
  color: rgba(78, 161, 255, 0.623);
  font-size: 18px;
  transition: all 0.5s;
}
.modal form button:hover {
  background-color: rgba(78, 161, 255, 0.623);
  color: #d0deeb;
}
.modal form header {
  font-size: 26px;
}

#carousel_container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
#carousel_container .form_avatar {
  width: 200px;
  height: 200px;
  margin: 0 20px 80px 20px;
}
#carousel_container .form_avatar .thumb_small {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 90;
  cursor: default;
}
#carousel_container .form_avatar .thumb_small span {
  display: none;
}
#carousel_container .form_avatar .thumb_small img {
  min-height: 100%;
  height: auto;
  width: 100%;
  z-index: 1;
}
#carousel_container .form_avatar .thumb_small .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 27, 33, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
#carousel_container .form_avatar .thumb_small .overlay .status {
  font-family: Poppins;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.507);
  transition: all 0.2s;
}
#carousel_container .form_avatar .thumb_small .overlay .username {
  font-family: Poppins;
  font-size: 24px;
  color: #d0deeb;
}
#carousel_container .create_new {
  opacity: 0.6;
  transition: all 0.5s;
}
#carousel_container .create_new .thumb {
  color: rgba(255, 255, 255, 0.507);
  box-shadow: none !important;
}
#carousel_container .create_new svg {
  width: 35px;
  height: 35px;
}
#carousel_container .create_new svg path {
  fill: rgba(255, 255, 255, 0.507);
  transition: all 0.5s;
}
#carousel_container .current {
  width: 200px;
  height: 200px;
  opacity: 1;
}
#carousel_container .current .thumb_small {
  transform: scale(1.2);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#carousel_container .current .status {
  color: rgba(78, 161, 255, 0.623) !important;
}
#carousel_container .current .required {
  border: 1px solid #ff004c !important;
}
#carousel_container .current .problem {
  color: #ff004c !important;
}

@media screen and (max-width: 768px) {
  body {
    justify-content: flex-start;
  }
  body #container {
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  body {
    justify-content: flex-start;
  }
  body #container {
    position: relative;
    width: 768px;
  }
}
@media screen and (min-width: 980px) {
  body {
    justify-content: center;
  }
  body #container {
    position: relative;
    width: 980px;
  }
}
@media screen and (min-width: 1200px) {
  #container {
    position: absolute;
    width: 1200px;
  }
}
.carousel {
  width: 100%;
  height: 500px;
  background-color: #edf3f8;
}

nav {
  width: 100%;
  height: 50px;
  padding: 10px 0 10px 0;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.2s;
  z-index: 5;
  background-color: #edf3f8;
}
nav input {
  width: 1200px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  text-align: center;
  font-family: inherit;
  background-color: rgba(24, 27, 33, 0.1);
}
nav.active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.05);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  margin-left: -400px;
  margin-top: 70px;
  opacity: 0;
  background-color: #edf3f8;
  transition: all 0.2s;
  z-index: 6;
}
.sidebar.active {
  margin-left: 0;
  opacity: 1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.05);
}
.sidebar .profile {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(24, 27, 33, 0.1);
}
.sidebar .profile .thumb {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.sidebar .profile .thumb img {
  min-height: 100%;
  height: auto;
  width: 100%;
}
.sidebar .profile #name {
  font-family: Poppins;
  font-size: 26px;
  color: #181b21;
}
.sidebar .links {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar .links a {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Poppins;
  color: #181b21;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  position: absolute;
  left: 15px;
  transform: translate(-50%, -50%);
  transform: scale(0.7);
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgba(24, 27, 33, 0.1);
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger .hamburger-box .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  top: 2px;
}
.hamburger .hamburger-box .hamburger-inner, .hamburger .hamburger-box .hamburger-inner::before, .hamburger .hamburger-box .hamburger-inner::after {
  width: 40px;
  height: 5px;
  background-color: rgba(24, 27, 33, 0.1);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger .hamburger-box .hamburger-inner::before, .hamburger .hamburger-box .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger .hamburger-box .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger .hamburger-box .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

@media screen and (min-width: 768px) {
  nav input {
    width: 768px;
  }
}
@media screen and (min-width: 980px) {
  nav input {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  nav input {
    width: 980px;
  }
}

/*# sourceMappingURL=app.css.map */
