@font-face {
  font-family: Product Sans;
  src: url("/resources/fonts/Product Sans Regular.ttf");
}
@font-face {
  font-family: Product Sans Bold;
  src: url("/resources/fonts/Product Sans Bold.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("/resources/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins Bold;
  src: url("/resources/fonts/Poppins-Bold.ttf");
}
html, html body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #181b21;
  overflow: hidden;
}
html .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/resources/images/christian-haley-christian-haley-futureshantytown-a-2018.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 27, 33, 0.85);
  z-index: 60;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 20%;
}
.modal form {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal form input {
  width: 70%;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.507);
  font-family: Poppins;
  color: rgba(255, 255, 255, 0.507);
}
.modal form input#form_username {
  opacity: 0;
  margin-top: -60px;
  transition: all 0.2s;
}
.modal form button {
  width: 70%;
  border-radius: 40px;
  height: 70px;
  margin: 40px 0 50px 0;
  border: none;
  background: none;
  border: 2px solid rgba(78, 161, 255, 0.623);
  cursor: pointer;
  font-family: Poppins;
  color: rgba(78, 161, 255, 0.623);
  font-size: 18px;
  transition: all 0.5s;
}
.modal form button:hover {
  background-color: rgba(78, 161, 255, 0.623);
  color: #d0deeb;
}
.modal form header {
  font-size: 26px;
}

.avatar_container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.avatar_container .form_avatar {
  width: 200px;
  height: 200px;
  margin: 0 20px 80px 20px;
}
.avatar_container .form_avatar .thumb_small {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 90;
  cursor: default;
}
.avatar_container .form_avatar .thumb_small img {
  min-height: 100%;
  height: auto;
  width: 100%;
  z-index: 1;
}
.avatar_container .form_avatar .thumb_small .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 27, 33, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.avatar_container .form_avatar .thumb_small .overlay .status {
  font-family: Poppins;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.507);
  transition: all 0.2s;
}
.avatar_container .form_avatar .thumb_small .overlay .username {
  font-family: Poppins;
  font-size: 24px;
  color: #d0deeb;
}
.avatar_container .create_new {
  opacity: 0.6;
  transition: all 0.5s;
}
.avatar_container .create_new .thumb {
  color: rgba(255, 255, 255, 0.507);
  box-shadow: none !important;
}
.avatar_container .create_new svg {
  width: 35px;
  height: 35px;
}
.avatar_container .create_new svg path {
  fill: rgba(255, 255, 255, 0.507);
  transition: all 0.5s;
}
.avatar_container .current {
  width: 200px;
  height: 200px;
  opacity: 1;
}
.avatar_container .current .thumb_small {
  transform: scale(1.2);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.avatar_container .current .status {
  color: rgba(78, 161, 255, 0.623) !important;
}
.avatar_container .current .required {
  border: 1px solid #ff004c !important;
}
.avatar_container .current .problem {
  color: #ff004c !important;
}

@media screen and (max-width: 768px) {
  body {
    justify-content: flex-start;
  }
  body #container {
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  body {
    justify-content: flex-start;
  }
  body #container {
    position: relative;
    width: 768px;
  }
}
@media screen and (min-width: 980px) {
  body {
    justify-content: center;
  }
  body #container {
    position: relative;
    width: 980px;
  }
}
@media screen and (min-width: 1200px) {
  #container {
    position: absolute;
    width: 1200px;
  }
}

/*# sourceMappingURL=front.css.map */
